@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.container{
    margin: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container__content{
    
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-right: 5%;
    width: 615px;
}

.container__content__title{
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.container__content__text{
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container__content__strong{
    color: #22D4FD;
}

.container__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    justify-content: space-evenly;
}

.container__links__subtitulo{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.container__links__link{
    display:flex;
    justify-content: center;
    gap:16px;
    border:2px solid #22D4FD; 
    width: 378px;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 8px; 
    text-decoration: none;
    color:#F6F6F6;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.container__links__link:hover{
    transform: scale(1.05);
    background-color: #272727;
    color:#22D4FD;
}