@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;700&display=swap');

:root{
    --cor-primária:#06283D;
    --cor-secundária:#8FE3CF;
    --cor-terciária: #256D85;
    --cor-quaternária: #F9F9F9;

    --fonte-primária: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primária);
    color: var(--cor-secundária);
}

.header{
    display: flex;
    align-items: center;
    gap:40px;
    padding: 2% 0 0 12%;
}

.header__menu{
    display:flex;
    gap:40px;
}

.header__menu__link{
    font-family: var(--fonte-primária);
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color:var(--cor-secundária);;
}

.header__menu__link:hover{
    transform: scale(1.1);
    color:var(--cor-terciária);
}

.container{
    padding: 4% 12% 2% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__content{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 615px;
}

.container__content__title{
    font-size: 2em;
    font-family: var(--fonte-primária);
    font-weight: 700;
}

.container__content__text{
    font-size: 1.5em;
    font-family: var(--fonte-primária);
    font-weight: 300;
    color:var(--cor-quaternária);
}

.container__content__strong{
    color: var(--cor-terciária);
}

.container__links{
    display: flex;
    align-items: center;
    gap:5px;
    justify-content: space-evenly;
}

.container__links__subtitulo{
    font-family: var(--fonte-primária);
    font-weight: 700;
    font-size: 24px;
}

.container__links__link{
    display:flex;
    justify-content: center;
    gap:16px;
    border:2px solid var(--cor-terciária); 
    width: 378px;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 8px; 
    text-decoration: none;
    color: var(--cor-quaternária);
    font-family: var(--fonte-primária);
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.container__links__link:hover{
    transform: scale(1.05);
    background-color: var(--cor-terciária);
}

.footer{
    font-family: var(--fonte-primária);
    font-weight: 400;
    padding:20px;
    text-align: center;
    color: var(--cor-quaternária);
}

/*Página Sobre mim */

.container__about{
    padding: 4% 12% 2% 12%;
}

.container__about__content{
   display:flex;
   flex-direction: column;
   gap:2em; 
   font-family: var(--fonte-primária);
}

.container__content__itens{
    list-style-type: square;
}